.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1200;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  margin: 0 16px;
}
.input-box input[type="number"] {
  width: 100px;
}
.task-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
