@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.input-box input {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 0 16px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 600ms;
  font-size: 1.2rem;
}
.input-box input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.25);
}
.input-box input[type="number"] {
  width: 60px;
}
.input-box button {
  border: none;
  padding: 12px 40px;
  background-color: transparent;
  font-weight: bold;
  transition: transform 400ms;
  font-size: 3rem;
  color: salmon;
}
.input-box button:hover {
  transform: scale(1.1);
}
.input-box button:active {
  transform: scale(1);
}
.task-group {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 35px;
}

input.error::placeholder {
  color: orangered;
}
#tasks {
  width: 1000px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

#tasks .task {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 35px;
  min-height: 35px;
  padding: 20px 15px;

  position: absolute;
  transition: all 600ms;

  transition: transform 0.5s ease;
  transform: translateY(calc(var(--order) * 100%));
  border-bottom: 5px solid black;
  border-radius: 6px;
}
#tasks .task span {
  width: 125px;
}
#name-input input {
  display: none;
  width: 200px;

  height: 25px;
  font-size: 1.5rem;
  font-weight: normal;
}

#time-input input {
  display: none;
  width: 200px;
  height: 25px;
  font-size: 1.5rem;
  font-weight: normal;
}

.progress-bar {
  border-radius: 100px;
  height: 10px;
  width: 700px;
  position: absolute;
  background-color: rgb(106, 169, 44);
  bottom: 8px;
}
